{% extends "base.html" %}

{% block contenido_cambia %}

{# Buscar equipo #}
    <br><hr>
    <h2>Buscar equipos</h2>
    <form action="{% url 'AppFutbolBusquedaEquipo' %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>

    <br><hr>
    <a href="{% url 'AppFutbolCrearEquipo' %}">Crear equipo</a>

{# Ver equipos #}
    <hr><br>
    {% if equipos %}
        <h2>Equipos agregados</h2>
        {% for equipo in equipos %}
            <p>Equipo: {{ equipo.nombre }} Categoria: {{ equipo.categoria }} <a href="{% url 'AppFutbolEliminarEquipo' equipo.id %}">Eliminar</a> <a href="{% url 'AppFutbolEditarEquipo' equipo.id %}">Editar</a><p>

            <hr>

        {% endfor %}
    {% else %}
        <h2>No hay equipos agregados</h2>
    {% endif %}

{% endblock %}