{% extends "base.html" %}

{% block contenido_cambia %}

{# Buscar equipo #}
    <br><hr>
    <h2 class="text-white font-weight-bold"> Buscar equipos</h2>
    <form action="{% url 'AppFutbolBusquedaEquipo' %}" enctype="multipart/form-data">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>

    <br><hr>
    <a href="{% url 'AppFutbolCrearEquipo' %}">Crear equipo</a>

{# Ver equipos #}
    <hr><br>
    {% if equipos %}
        <h2 class="text-white font-weight-bold"> Equipos agregados</h2>
        {% for equipo in equipos %}
            <p>Equipo: {{ equipo.nombre }} Categoria: {{ equipo.categoria }} <a href="{% url 'AppFutbolEliminarEquipo' equipo.id %}">Eliminar</a> <a href="{% url 'AppFutbolEditarEquipo' equipo.id %}">Editar</a><p>
            <img src="{{ equipo.imagen.url }}" alt="Equipo" height="200 px">
            <hr>

        {% endfor %}
    {% else %}
        <h2>No hay equipos agregados</h2>
    {% endif %}

{% endblock %}