{% extends "base.html" %}

{% block contenido_cambia %}
    <form action="{% url 'AppFutbolEquipos' %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Agregar">
    </form>
    <br><hr>
    <form action="{% url 'AppFutbolBusquedaEquipo' %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>
    <hr><br>
    <h1>Equipos agregados</h1>
    {% if equipos %}
        {% for equipo in equipos %}
            <p>Equipo: {{ equipo.nombre }}</p>
            <p>Categoria: {{ equipo.categoria }}</p>

        {% endfor %}
    {% else %}
        <h1>No hay equipos agregados</h1>
    {% endif %}

{% endblock %}