{% extends "base.html" %}

{% block contenido_cambia %}

{# Buscar profesor #}
    <br><hr>
    <h2 class="text-white font-weight-bold">Buscar profesor</h2>
    <form action="{% url 'AppFutbolBusquedaProfesor' %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value="Buscar">
    </form>

    <br><hr>
    <a href="{% url 'AppFutbolCrearProfesor' %}">Crear profesor</a>

{# Ver profesores #}
    <hr><br>
    {% if profesores %}
        <h2 class="text-white font-weight-bold">Profesores agregados</h2>
        {% for profesor in profesores %}
            <p>Nombre: {{ profesor.nombre }}</p>
            <p>Apellido: {{ profesor.apellido }}</p>
            <p>Edad: {{ profesor.email }} <a href="{% url 'AppFutbolEliminarProfesor' profesor.id %}">Eliminar</a> <a href="{% url 'AppFutbolEditarProfesor' profesor.id %}">Editar</a><p>

        {% endfor %}
    {% else %}
        <h2 class="text-white font-weight-bold">No hay profesores agregados</h2>
    {% endif %}

{% endblock %}